<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />

		<title>[[*longtitle:ne=``:then=`[[*longtitle]]`:else=`[[*pagetitle]]`]] |
			[[++site_name]]</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="shortcut icon" href="assets/img/favicon.png" />
		<link href="https://fonts.cdnfonts.com/css/tt-hoves-pro-trial"
			rel="stylesheet">
		<link rel="stylesheet" href="assets/css/header.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/shop.css" />
		<link rel="stylesheet" href="assets/css/components.css" />
	</head>
	<body>
		<header>
			<div class="top">
				<ul class="inner">
					<li class="location-select"><img
							src="/assets/img/icons/location-w.svg"><span class="city">Нижний
							Новгород</span></li>
					<li><a href="/contacts">Контакты</a></li>
					<li><a href="/faq">FAQ</a></li>
					<li><a href="/delivery">Доставка</a></li>
					<li><a href="/payment-options">Оплата</a></li>
					<li><a href="/refund">Возврат</a></li>
					<li><a href="/sell-conditions">Условия продажи товаров</a></li>
					<li class="mail"><a
							href="mailto:{$_modx->config.contact_email}"><!--{$_modx->config.contact_email}-->fyva@fyvdoafdy.ad</a></li>
					<li><a href="tel:{$_modx->config.contact_phone}">Бесплатный звонок:
							<!--{$_modx->config.contact_phone}-->1098309182329 /
							круглосуточно</a></li>
				</ul>
			</div>
			<div class="main-row">
				<div class="inner">
					<img src="/assets/img/logo.svg" alt="Lemarc" class="logo">
					<div class="catalog-btn"><img src="/assets/img/icons/menu-w.svg"
							class='menu-icon'><img src="/assets/img/icons/x-small-w.svg"
							class="close-menu-icon">Каталог</div>
					<form action="{$_modx->resource.alias}" method="get"
						class="well msearch2 search" id="mse2_form">
						<div class="line">
							<input type="text" class="placeholder-style" name="[[+queryVar]]"
								placeholder="Искать моторное масло G540" value="[[+mse2_query]]" />
							<button type="submit" class="btn-search">
							</button>
						</div>
					</form>
					<a href="/special-offers" class="special-offers link">Акции</a>
					<a href="/#oil-selection" class="link">Подбор масла</a>
					<a href="/about" class='link'>О нас</a>
					<!--{if $_modx->isAuthenticated('web')} -->
					<a ahref='/lk' class="user with-icon" id="auth-toggler">
						<img src="/assets/img/icons/user.svg">
						<div class="name"><!--{$_modx->user.extended.name}-->Войти</div>
					</a>
					<!--{else}
						Авторизация
					{/if}-->
					<a href="/favorites" class="favorites with-icon">
						<img src="/assets/img/icons/favourite.svg">
						<!--{set $favorites = $_modx->runSnippet('getFavoritesCount')}
						{if $favorites > 0}-->
						<span class="count"><!--{$favorites}-->999</span>
						<!--{/if}-->
						<span>Избранное</span>
					</a>
					<a href="/cart" class="cart with-icon" id="msMiniCart">
						<img src="/assets/img/icons/cart.svg">
						<span class="count"><!--{$total_count}-->999</span>
						<span>Корзина</span>
					</a>
				</div>
			</div>
			<div class="catalog" id="catalog-menu">
				<div class="inner">
					<ul class="main-list">
						<li>
							<div class="tab-name">Для легковых автомобилей</div>
							<ul class="sub1">
								<li>
									<a href="/cars/motor" class="subtab-name">Моторные масла</a>
								</li>
								<li>
									<div class="subtab-name">Трансмиссионные масла</div>
									<ul class="sub2">
										<li><a href="/cars/transmission/akpp" class="subtab-name">Для
												АКПП</a></li>
										<li><a href="/cars/transmission/mkpp" class="subtab-name">Для
												МКПП</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<div class="tab-name">Для коммерческого транспорта</div>
							<ul class="sub1">
								<li>
									<a href="/commercial/motor" class="subtab-name">Моторные масла</a>
								</li>
								<li>
									<div class="subtab-name">Трансмиссионные масла</div>
									<ul class="sub2">
										<li><a href="/commercial/transmission/akpp" class="subtab-name">Для
												АКПП</a></li>
										<li><a href="/commercial/transmission/mkpp" class="subtab-name">Для
												МКПП</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="/lexpert" class="tab-name">Lexpert</a>
						</li>
						<li>
							<a href="/souvenirs" class="tab-name">Сувенирная продукция</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="auth-form">
				<div v-if="opened" @click='close' class="fade"></div>
				<div v-if="opened" class="form">
					<div @click="close" class="close-btn"></div>
					<div v-if='mode == "default"' class="fields">
						<h2>Вход или регистрация</h2>
						<text-input v-model="credentials.emailOrPhone.value"
							:is-valid="credentials.emailOrPhone.isValid"
							:placeholder="'Телефон или Email'" @input="validateLogin"
							:error="credentials.emailOrPhone.error"></text-input>
						<password-input v-model="credentials.password.value"
							:is-valid="credentials.password.isValid" :placeholder="'Пароль'"
							:error="credentials.password.error"
							@input="validateLoginPassword"></password-input>
						<div @click="mode = 'forgot'" class="forgot">Забыли пароль?</div>
						<button-rounded :disabled="!validated"
							@btn-click="tryLogin">Войти</button-rounded>
						<div @click='mode = "smslogin"' class="one-time-pass">Войти с помощью кода
							из SMS</div>
					</div>
					<div v-if='mode == "smslogin"' class="fields">
						<h2>Войти</h2>
						<text-input v-model="onetime.phone.value"
							:is-valid="onetime.phone.isValid" placeholder="Телефон*"
							@input="validateOnetimePhone" :error="onetime.phone.error"></text-input>
						<text-input v-show="onetime.code.sent" v-model="onetime.code.value"
							:is-valid="onetime.code.isValid" placeholder="Код из SMS"
							@input="validateOnetimeCode" :error="onetime.code.error"></text-input>
						<button-rounded :disabled="!onetime.button.isActive"
							@btn-click="handleOnetimeButton">[(onetime.button.text)]</button-rounded>
						<div @click='mode = "default"' class="one-time-pass">Войти с помощью
							пароля</div>
					</div>
					<div v-if='mode == "forgot"' class="fields">
						<h2>Восстановить пароль</h2>
						<text-input v-show="!forgot.code.sent" v-model="forgot.phone.value"
							:is-valid="forgot.phone.isValid" placeholder="Телефон*"
							@input="validateForgotPhone" :error="forgot.phone.error"></text-input>
						<p v-show="forgot.code.sent" class="code-sent-text">Мы отправили код на
							<strong>[(formatPhone(forgot.phone.value))]</strong>.<br>Введите его,
							чтобы восстановить пароль</p>
						<text-input v-show="forgot.code.sent && !forgot.code.correct"
							v-model="forgot.code.value" :is-valid="forgot.code.isValid"
							placeholder="Код из SMS" @input="validateForgotCode"
							:error="forgot.code.error"></text-input>
						<password-input v-if="forgot.code.correct" v-model="forgot.password.value"
							:is-valid="forgot.password.isValid" placeholder="Пароль*"
							@input="validateNewPassword"
							:error="forgot.password.error"></password-input>
						<password-input v-if="forgot.code.correct"
							v-model="forgot.passwordConfirm.value"
							:is-valid="forgot.passwordConfirm.isValid"
							placeholder="Повторите пароль*" @input="validateForgotPasswordConfirm"
							:error="forgot.passwordConfirm.error"></password-input>
						<button-rounded :disabled="!forgot.button.isActive"
							@btn-click="handleForgotButton">[(forgot.button.text)]</button-rounded>
						<div @click='mode = "default"' class="one-time-pass">Войти с помощью
							пароля</div>
					</div>
					<div v-if='mode == "register"' class="fields">
						<h2>Регистрация</h2>
						<div v-if="!register.done && !register.code.sent" class="register-fields">
							<text-input v-model="register.fio.value" :is-valid="register.fio.isValid"
								placeholder="ФИО*" @input="validateRegisterFio"></text-input>
							<text-input v-model="register.phone.value"
								:is-valid="register.phone.isValid" placeholder="Телефон*"
								@input="validateRegisterPhone"
								:error="register.phone.error"></text-input>
							<text-input v-model="register.email.value"
								:is-valid="register.email.isValid" placeholder="Email*"
								@input="validateRegisterEmail"
								:error="register.email.error"></text-input>
							<password-input v-model="register.password.value"
								:is-valid="register.password.isValid" placeholder="Пароль*"
								@input="validateRegisterPassword"
								:error="register.password.error"></password-input>
							<password-input v-model="register.passwordConfirm.value"
								:is-valid="register.passwordConfirm.isValid"
								placeholder="Повторите пароль*" @input="validateRegisterPasswordConfirm"
								:error="register.passwordConfirm.error"></password-input>
							<!--city-select v-model="register.city.value"></city-select-->
							<div class="checkboxes">
								<checkbox-input v-model="register.pd">Согласен с <a
										href="/personal-data">условиями обработки пользовательских
										данных</a></checkbox-input>
								<checkbox-input v-model="register.spam">Согласен на <a
										href="/marketing">маркетинговую коммуникацию</a></checkbox-input>
							</div>
						</div>
						<div v-if="register.done" v-show="register.code.sent"
							class="confirm-fields">
							<p class="code-sent-text">Регистрация прошла успешно,<br>На почту
								<strong>[(register.email.value)]</strong> выслана ссылка<br>с
								подтверждением регистрации</p>
						</div>
						<div v-if="register.code.sent && !register.done" class="confirm-fields">
							<p class="code-sent-text">Мы отправили код на
								<strong>[(formatPhone(register.phone.value))]</strong>.<br>Введите его,
								чтобы восстановить пароль</p>
							<text-input v-model="register.code.value"
								:is-valid="register.code.isValid" placeholder="Код из SMS"
								@input="validateRegisterCode" :error="register.code.error"></text-input>
						</div>
						<button-rounded :disabled="!register.button.isActive"
							@btn-click="handleRegisterButton">[(register.button.text)]</button-rounded>
					</div>
					<div v-if="mode == 'register'" class="form-footer">
						Уже зарегистрированы?
						<div @click='mode = "default"' class="change-mode">Войти</div>
					</div>
					<div v-else class="form-footer">
						Нет аккаунта?
						<div @click='mode = "register"'
							class="change-mode">Зарегистрироваться</div>
					</div>
				</div>
			</div>
		</header>
		<section id="blog">
			<div class="inner">
				<div id="blog-app">
					<div class="line">
						<h1>Новости компании</h1>
						<div class="sort">
							Сортировка:
							<select-input :options="sort.options" default="Сортировать по"
								v-model="sort.value" @input="updateSort"></select-input>
						</div>
					</div>
					<div v-if="list.length" class="list">
						<a v-for='item in list' :key="item.id" :href="item.url" class="item">
							<div class="img" :style="{ backgroundImage: `url(${item.img})`}">
								<span class="category">[(item.category)]</span>
								<span class="date">[(toDotString(item.date))]</span>
							</div>
							<h4>[(item.title)]</h4>
							<div class="btn btn-arrow">Подробнее</div>
						</a>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<div class="inner">
				<div class="layout">
					<div class="contacts">
						<a href="/"><img src="/assets/img/logo-footer.svg" class="logo"></a>
						<a href="tel:8 800 555 35 35" class="phone">8 800 555 35 35</a>
						<div class="time">с 9:00 до 19:00 по МСК</div>
						<ul class="socials">
							<li><a href="https://vk.com"><img src="/assets/img/icons/socials/vk.svg"
										alt></a></li>
							<li><a href="https://t.me"><img src="/assets/img/icons/socials/tg.png"
										alt></a></li>
						</ul>
					</div>
					<div class="row">
						<h4>Покупателям</h4>
						<ul>
							<li><a href>Подбор масла</a></li>
							<li><a href>Проверка подлинности</a></li>
							<li><a href>Акции</a></li>
							<li><a href>Доставка</a></li>
							<li><a href>Оплата</a></li>
							<li><a href>Возврат</a></li>
							<li><a href>Часто задаваемые вопросы</a></li>
						</ul>
					</div>
					<div class="row">
						<h4>Каталог</h4>
						<ul>
							<li><a href>Легковые</a></li>
							<li><a href>Легкие комерческие автомобили</a></li>
							<li><a href>Комерческие автомобили и автобусы</a></li>
						</ul>
					</div>
					<div class="row">
						<h4>О компании</h4>
						<ul>
							<li><a href="/about">О компании</a></li>
							<li><a href="/about-shop">О магазине</a></li>
							<li><a href="/contacts">Контакты</a></li>
						</ul>
					</div>
				</div>
				<div class="copyrights layout">
					©2023 Лемарк. Все права защищены
					<a href="/sitemap">Карта сайта</a>
					<a href="/law">Правовая информация</a>
				</div>
			</div>
		</footer>
		<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
			crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script type="text/html" id="text-input-template">
			<div class="text-input" :class='{error: isValid === -1}'>
				<label :for='id' class="element">
					<input :id='id' :value='value' @input="$emit('input', $event.target.value)" :placeholder='placeholder' type="text" :disabled='disabled'>
					<div class="valid" :class="{ green: isValid === 1, grey: isValid === 0, red: isValid === -1}"></div>
				</label>
				<div v-if='error' class="error">[(error)]</div>
			</div>
		</script>
		<script type="text/html" id="textarea-input-template">
			<div class="textarea-input">
				<textarea :value='value' @input="$emit('input', $event.target.value)" :placeholder='placeholder' :disabled='disabled' maxlength='1000'></textarea>
				<div class="counter">[(value.length === 0 ? 'Максимум 1000 символов': `Осталось ${1000-value.length} символов`)]</div>
			</div>
		</script>
		<script type="text/html" id="checkbox-input-template">
			<div class="checkbox-input">
				<label :for='id' class="element">
					<input :id='id' :checked='value' @input="$emit('input', $event.target.checked)" type="checkbox" :disabled='disabled'>
					<slot></slot>
				</label>
				<div v-if='error' class="error">[(error)]</div>
			</div>
		</script>
		<script type="text/html" id="password-input-template">
			<div class="password-input" :class='{error: isValid === -1}'>
				<label :for='id' class="element">
					<input :id='id' :value='value' @input="$emit('input', $event.target.value)" :placeholder='placeholder' :type="showPass ? 'text':'password'" :disabled='disabled'>
					<div @mousedown='showPass=true' @mouseup='showPass=false' class="show-password" :class='{visible: showPass}'></div>
					<div class="valid" :class="{ green: isValid === 1, grey: isValid === 0, red: isValid === -1}"></div>
				</label>
				<div v-if='error' class="error">[(error)]</div>
			</div>
		</script>
		<script type="text/html" id="select-input-template">
			<div class="custom-select" :tabindex="tabindex" @blur="open = false" :class="{ open: open }">
				<div class="toggler" @click="open = !open"></div>
				<div class="selected" @click="open = !open">
					[(selected)]
				</div>
				<div class="items" :class="{ selectHide: !open }">
					<div
						v-for="(option, i) of options"
						:key="i"
						@click="
							selected = option;
							open = false;
							$emit('input', option);
						"
					>
						[(option)]
					</div>
				</div>
			</div>
		</script>
		<script type="text/html" id="button-rounded-template">
			<button class='button-rounded' :disabled='disabled' @click='$emit("btn-click")'><slot></slot></button>
		</script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
		<script src="/assets/js/vues.js"></script>
		<script src="assets/js/common.js"></script>
	</body>
</html>