<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>[[*longtitle:ne=``:then=`[[*longtitle]]`:else=`[[*pagetitle]]`]] | [[++site_name]]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/img/favicon.png" />
    <link href="https://fonts.cdnfonts.com/css/tt-hoves-pro-trial" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css" integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="assets/css/header.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/lk.css" />
    <link rel="stylesheet" href="assets/css/components.css" />
  </head>
  <body>
    <header>
      <div class="top">
        <div class="inner">
          <div class="location-select">
            <img src="/assets/img/icons/location-w.svg">
            <span class="city">Нижний Новгород</span>
          </div>
          <div class="menu">
            <a href="/contacts">Контакты</a>
            <a href="/faq">FAQ</a>
            <a href="/delivery">Доставка</a>
            <a href="/payment-options">Оплата</a>
            <a href="/refund">Возврат</a>
            <a href="/sell-conditions">Условия продажи товаров</a>
          </div>
          <div class="header-contacts">
            <a class="mail" href="mailto:{$_modx->config.contact_email}">
              <!--{$_modx->config.contact_email}-->fyva@fyvdoafdy.ad
            </a>
            <a class="phone-link" href="tel:{$_modx->config.contact_phone}">
              <span>Бесплатный звонок:</span>
              <!--{$_modx->config.contact_phone}-->8 800 555-35-35 <span>/ круглосуточно</span>
            </a>
          </div>
        </div>
      </div>
      <div class="main-row">
        <div class="inner">
          <div class="burger">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <a href="/" class="logo">
            <img src="/assets/img/logo.svg" alt="Lemarc">
          </a>
          <div class="catalog-btn">
            <img src="/assets/img/icons/menu-w.svg" class='menu-icon'>
            <img src="/assets/img/icons/x-small-w.svg" class="close-menu-icon">
            <span>Каталог</span>
          </div>
          <form action="{$_modx->resource.alias}" method="get" class="well msearch2 search" id="mse2_form">
            <div class="line">
              <input type="text" class="placeholder-style" name="[[+queryVar]]" placeholder="Искать моторное масло G540" value="[[+mse2_query]]" />
              <button type="submit" class="btn-search"></button>
            </div>
          </form>
          <div class="menu">
            <a href="/special-offers" class="special-offers link">Акции</a>
            <div class="link oil-selection-link">Подбор масла <ul>
                <li>
                  <a href="/get-analog">Подобрать аналог</a>
                </li>
                <li>
                  <a href="/oil-select">Подбор по параметрам</a>
                </li>
              </ul>
            </div>
            <a href="/about" class='link'>О нас</a>
          </div>
          <div class="actions">
            <!--{if $_modx->isAuthenticated('web')} -->
            <a ahref='/lk' class="user with-icon" id="auth-toggler">
              <img src="/assets/img/icons/user.svg">
              <div class="name">
                <!--{$_modx->user.extended.name}-->Войти
              </div>
            </a>
            <!--{else}
							Авторизация
						{/if}-->
            <a href="/favorites" class="favorites with-icon">
              <img src="/assets/img/icons/favourite.svg">
              <!--{set $favorites = $_modx->runSnippet('getFavoritesCount')}
							{if $favorites > 0}-->
              <span class="count">
                <!--{$favorites}-->999
              </span>
              <!--{/if}-->
              <span>Избранное</span>
            </a>
            <a href="/cart" class="cart with-icon" id="msMiniCart">
              <img src="/assets/img/icons/cart.svg">
              <span class="count">
                <!--{$total_count}-->999
              </span>
              <span>Корзина</span>
            </a>
          </div>
        </div>
      </div>
      <div class="catalog" id="catalog-menu">
        <div class="inner">
          <ul class="main-list">
            <li>
              <div class="tab-name">Для легковых автомобилей</div>
              <ul class="sub1">
                <li>
                  <a href="/cars/motor" class="subtab-name">Моторные масла</a>
                </li>
                <li>
                  <div class="subtab-name">Трансмиссионные масла</div>
                  <ul class="sub2">
                    <li>
                      <a href="/cars/transmission/akpp" class="subtab-name">Для АКПП</a>
                    </li>
                    <li>
                      <a href="/cars/transmission/mkpp" class="subtab-name">Для МКПП</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <div class="tab-name">Для коммерческого транспорта</div>
              <ul class="sub1">
                <li>
                  <a href="/commercial/motor" class="subtab-name">Моторные масла</a>
                </li>
                <li>
                  <div class="subtab-name">Трансмиссионные масла</div>
                  <ul class="sub2">
                    <li>
                      <a href="/commercial/transmission/akpp" class="subtab-name">Для АКПП</a>
                    </li>
                    <li>
                      <a href="/commercial/transmission/mkpp" class="subtab-name">Для МКПП</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="/lexpert" class="tab-name">Lexpert</a>
            </li>
            <li>
              <a href="/souvenirs" class="tab-name">Сувенирная продукция</a>
            </li>
          </ul>
        </div>
      </div>
      <div id="auth-form" v-cloak>
        <div v-if="opened" @click='close' class="fade"></div>
        <div v-if="opened" class="form">
          <div @click="close" class="close-btn"></div>
          <div v-if='mode == "default"' class="fields">
            <h2>Вход или регистрация</h2>
            <text-input v-model="credentials.emailOrPhone.value" :is-valid="credentials.emailOrPhone.isValid" :placeholder="'Телефон или Email'" @input="validateLogin" :error="credentials.emailOrPhone.error"></text-input>
            <password-input v-model="credentials.password.value" :is-valid="credentials.password.isValid" :placeholder="'Пароль'" @input="validateLoginPassword"></password-input>
            <div @click="mode = 'forgot'" class="forgot">Забыли пароль?</div>
            <button-rounded :disabled="!validated" @btn-click="tryLogin">Войти</button-rounded>
            <div @click='mode = "smslogin"' class="one-time-pass">Войти с помощью кода из SMS</div>
          </div>
          <div v-if='mode == "smslogin"' class="fields">
            <h2>Войти</h2>
            <text-input v-model="onetime.phone.value" :is-valid="onetime.phone.isValid" placeholder="Телефон*" @input="validateOnetimePhone" :error="onetime.phone.error"></text-input>
            <text-input v-show="onetime.code.sent" v-model="onetime.code.value" :is-valid="onetime.code.isValid" placeholder="Код из SMS" @input="validateOnetimeCode" :error="onetime.code.error"></text-input>
            <button-rounded :disabled="!onetime.button.isActive" @btn-click="handleOnetimeButton">[(onetime.button.text)]</button-rounded>
            <div @click='mode = "default"' class="one-time-pass">Войти с помощью пароля</div>
          </div>
          <div v-if='mode == "forgot"' class="fields">
            <h2>Восстановить пароль</h2>
            <text-input v-show="!forgot.code.sent" v-model="forgot.phone.value" :is-valid="forgot.phone.isValid" placeholder="Телефон*" @input="validateForgotPhone" :error="forgot.phone.error"></text-input>
            <p v-show="forgot.code.sent" class="code-sent-text">Мы отправили код на <strong>[(formatPhone(forgot.phone.value))]</strong>. <br>Введите его, чтобы восстановить пароль </p>
            <text-input v-show="forgot.code.sent && !forgot.code.correct" v-model="forgot.code.value" :is-valid="forgot.code.isValid" placeholder="Код из SMS" @input="validateForgotCode" :error="forgot.code.error"></text-input>
            <password-input v-if="forgot.code.correct" v-model="forgot.password.value" :is-valid="forgot.password.isValid" placeholder="Пароль*" @input="validateNewPassword" :error="forgot.password.error"></password-input>
            <password-input v-if="forgot.code.correct" v-model="forgot.passwordConfirm.value" :is-valid="forgot.passwordConfirm.isValid" placeholder="Повторите пароль*" @input="validateForgotPasswordConfirm" :error="forgot.passwordConfirm.error"></password-input>
            <button-rounded :disabled="!forgot.button.isActive" @btn-click="handleForgotButton">[(forgot.button.text)]</button-rounded>
            <div @click='mode = "default"' class="one-time-pass">Войти с помощью пароля</div>
          </div>
          <div v-if='mode == "register"' class="fields">
            <h2>Регистрация</h2>
            <div v-if="!register.done && !register.code.sent" class="register-fields">
              <text-input v-model="register.fio.value" :is-valid="register.fio.isValid" placeholder="ФИО*" @input="validateRegisterFio"></text-input>
              <text-input v-model="register.phone.value" :is-valid="register.phone.isValid" placeholder="Телефон*" @input="validateRegisterPhone" :error="register.phone.error"></text-input>
              <text-input v-model="register.email.value" :is-valid="register.email.isValid" placeholder="Email*" @input="validateRegisterEmail" :error="register.email.error"></text-input>
              <password-input v-model="register.password.value" :is-valid="register.password.isValid" placeholder="Пароль*" @input="validateRegisterPassword" :error="register.password.error"></password-input>
              <password-input v-model="register.passwordConfirm.value" :is-valid="register.passwordConfirm.isValid" placeholder="Повторите пароль*" @input="validateRegisterPasswordConfirm" :error="register.passwordConfirm.error"></password-input>
              <!--city-select v-model="register.city.value"></city-select-->
              <div class="checkboxes">
                <checkbox-input v-model="register.pd">Согласен с <a href="/personal-data">условиями обработки пользовательских данных</a>
                </checkbox-input>
                <checkbox-input v-model="register.spam">Согласен на <a href="/marketing">маркетинговую коммуникацию</a>
                </checkbox-input>
              </div>
            </div>
            <div v-if="register.done" v-show="register.code.sent" class="confirm-fields">
              <p class="code-sent-text">Регистрация прошла успешно, <br>На почту <strong>[(register.email.value)]</strong> выслана ссылка <br>с подтверждением регистрации </p>
            </div>
            <div v-if="register.code.sent && !register.done" class="confirm-fields">
              <p class="code-sent-text">Мы отправили код на <strong>[(formatPhone(register.phone.value))]</strong>. <br>Введите его, чтобы восстановить пароль </p>
              <text-input v-model="register.code.value" :is-valid="register.code.isValid" placeholder="Код из SMS" @input="validateRegisterCode" :error="register.code.error"></text-input>
            </div>
            <button-rounded :disabled="!register.button.isActive" @btn-click="handleRegisterButton">[(register.button.text)]</button-rounded>
          </div>
          <div v-if="mode == 'register'" class="form-footer"> Уже зарегистрированы? <div @click='mode = "default"' class="change-mode">Войти</div>
          </div>
          <div v-else class="form-footer"> Нет аккаунта? <div @click='mode = "register"' class="change-mode">Зарегистрироваться</div>
          </div>
        </div>
      </div>
      <div class="header-mobile">
        <div class="header-mobile__top hidden">
          <div class="header-mobile__arrow">Назад</div>
          <div class="header-mobile__search"></div>
        </div>
        <div class="header-mobile__content"></div>
      </div>
    </header>
    <section id="lk">
      <div class="inner">
        <h1>Личный кабинет</h1>
        <div id="lk-app">
          <div class="layout layout-main">
            <aside>
              <ul>
                <li class="btn-menu button-rounded" @click='tab = "profile"' :class="{active: tab === 'profile'}">Профиль</li>
                <li class="btn-menu button-rounded" @click='tab = "orders"' :class="{active: tab === 'orders'}">Мои заказы</li>
                <div class="exit" @click="logout">Выйти</div>
              </ul>
              <div class="email">
                <h4>Рекламные рассылки</h4>
                <checkbox-input v-model="allowSMS">
                  <span class="dark">Получать рассылки по SMS</span>
                </checkbox-input>
                <checkbox-input v-model="allowEmail">
                  <span class="dark">Получать рассылки по Email</span>
                </checkbox-input>
              </div>
            </aside>
            <div class="content">
              <user-profile v-if="tab === 'profile'"></user-profile>
              <user-orders v-if="tab === 'orders'"></user-orders>
            </div>
          </div>
        </div>
        <div class="lk-mobile"></div>
      </div>
    </section>
    <footer>
      <div class="inner">
        <div class="layout">
          <div class="contacts">
            <div class="contacts__logo">
              <a href="/">
                <img src="/assets/img/logo-footer.svg" class="logo">
              </a>
            </div>
            <div class="contacts__phone">
              <a href="tel:8 800 555 35 35" class="phone">8 800 555 35 35</a>
              <div class="time">с 9:00 до 19:00 по МСК</div>
            </div>
            <div class="contacts__socials">
              <ul class="socials">
                <li>
                  <a href="https://vk.com">
                    <img src="/assets/img/icons/socials/vk.svg" alt>
                  </a>
                </li>
                <li>
                  <a href="https://t.me">
                    <img src="/assets/img/icons/socials/tg.png" alt>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row dropdown">
            <h4>Покупателям</h4>
            <ul>
              <li>
                <a href>Подбор масла</a>
              </li>
              <li>
                <a href>Проверка подлинности</a>
              </li>
              <li>
                <a href>Акции</a>
              </li>
              <li>
                <a href>Доставка</a>
              </li>
              <li>
                <a href>Оплата</a>
              </li>
              <li>
                <a href>Возврат</a>
              </li>
              <li>
                <a href>Часто задаваемые вопросы</a>
              </li>
            </ul>
          </div>
          <div class="row dropdown">
            <h4>Каталог</h4>
            <ul>
              <li>
                <a href>Легковые</a>
              </li>
              <li>
                <a href>Легкие комерческие автомобили</a>
              </li>
              <li>
                <a href>Комерческие автомобили и автобусы</a>
              </li>
            </ul>
          </div>
          <div class="row dropdown">
            <h4>О компании</h4>
            <ul>
              <li>
                <a href="/about">О компании</a>
              </li>
              <li>
                <a href="/about-shop">О магазине</a>
              </li>
              <li>
                <a href="/contacts">Контакты</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="copyrights layout"> ©2023 Лемарк. Все права защищены <a href="/sitemap">Карта сайта</a>
          <a href="/law">Правовая информация</a>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      window.userData = {
        fullname: 'Лапин Антон Андреевич',
        dob: '',
        city: 'Челябинск',
        email: {
          value: 'email@email.ru',
          verified: false
        },
        phone: '+71231232313'
      }
    </script>
    <script type="text/html" id="user-profile-template">
      <div id="user-profile-app" class="plate">
        <div class="block">
          <h2>Основная информация</h2>
          <div class="layout">
            <div class="item">
              <div class="name">Фамилия</div>
              <div class="val">[(name.last)]</div>
            </div>
            <div class="item">
              <div class="name">Имя</div>
              <div class="val">[(name.first)]</div>
            </div>
            <div class="item">
              <div class="name">Отчество</div>
              <div class="val">[(name.middle)]</div>
            </div>
            <div class="item">
              <div class="name">Дата рождения</div>
              <div class="val">[(dob ? toDotString(dob) : '-')]</div>
            </div>
            <div class="item">
              <div class="name">Город</div>
              <div class="val">[(city)]</div>
            </div>
          </div>
          <div class="btn btn-change" @click='editProfile'>Редактировать данные</div>
        </div>
        <div class="block">
          <h2>Контактные данные</h2>
          <div class="layout contacts">
            <div class="item">
              <div class="name">Email</div>
              <div class="val" :class='contacts.email.verified ? "verified" : "not-verified"'>[(contacts.email.value)]</div>
              <div class="btn btn-change" @click='handleEmailButton'>[(contacts.email.verified ? 'Изменить' : "Подтвердить Email")]</div>
            </div>
            <div class="item">
              <div class="name">Телефон</div>
              <div class="val verified">[(contacts.phone)]</div>
              <div class="btn btn-change" @click='initChangePhone'>Изменить</div>
            </div>
          </div>
        </div>
        <div class="block">
          <h2>Пароль</h2>
          <div class="btn btn-password" @click='changePassword'>Изменить пароль</div>
        </div>
        <universal-popup v-if="showPopup" @close="showPopup = false">
          <template v-if='editMode == "profile"''>
																					<template v-if=' !newProfileData.saved'>
            <h2>Основная информация</h2>
            <text-input v-model="newProfileData.name.last" :is-valid="newProfileData.name.last.length == 0 ? 0 : newProfileData.name.last.length > 1 ? 1 : -1" placeholder="Фамилия"></text-input>
            <text-input v-model="newProfileData.name.first" :is-valid="newProfileData.name.first.length == 0 ? 0 : newProfileData.name.first.length > 1 ? 1 : -1" placeholder="Имя"></text-input>
            <text-input v-model="newProfileData.name.middle" :is-valid="newProfileData.name.middle.length == 0 ? 0 : newProfileData.name.middle.length > 1 ? 1 : -1" placeholder="Отчество"></text-input>
            <vue-ctk-date-time-picker v-if='newProfileData.dob !== null' locale='ru' color='#e10032' id='dob' format='YYYY-MM-DD' :only-date='true' :no-shortcuts='true' v-model="newProfileData.dob" :no-button-now='true' :no-value-to-custom-elem="true">
              <text-input v-model='newProfileData.dob' placeholder='Дата рождения' :is-valid='newDobValid()'></text-input>
            </vue-ctk-date-time-picker>
            <button-rounded :disabled="!profileDataValid" @btn-click="updateProfile">Применить изменения</button-rounded>
          </template>
          <template v-else>
            <h2>Основная информация успешно изменена</h2>
            <button-rounded @btn-click="showPopup = false">Закрыть</button-rounded>
          </template>
          </template>
          <template v-if='editMode == "password"'>
            <template v-if='!newPass.saved'>
              <h2>Смена пароля</h2>
              <password-input v-model="newPass.password.value" :is-valid="newPass.password.isValid" placeholder="Текущий пароль" @input="validatePassword"></password-input>
              <password-input v-model="newPass.newpassword.value" :is-valid="newPass.newpassword.isValid" placeholder="Новый пароль" :error="newPass.newpassword.error" @input="validateNewPassword"></password-input>
              <password-input v-model="newPass.newpasswordConfirm.value" :is-valid="newPass.newpasswordConfirm.isValid" placeholder="Повторите пароль" :error="newPass.newpasswordConfirm.error" @input="validatePasswordConfirm"></password-input>
              <button-rounded :disabled="!newPasswordValid" @btn-click="updatePassword">Изменить пароль</button-rounded>
            </template>
            <template v-else>
              <h2>Ваш пароль <br>успешно изменен </h2>
              <button-rounded @btn-click="showPopup = false">Закрыть</button-rounded>
            </template>
          </template>
          <template v-if='editMode == "confirmEmail"'>
            <template v-if='confirmEmail.stage === 1'>
              <h2>Введите код</h2>
              <p>Мы отправли код подтверждения на Email <strong>[(contacts.email.value)]</strong>
              </p>
              <text-input v-model="confirmEmail.code" @input="setConfirmEmailButtonStatus" :is-valid="confirmEmail.code.length == 0 ? 0 : confirmEmail.code.length === 4 ? 1 : -1" placeholder="Код" :error="confirmEmail.error"></text-input>
              <button-rounded :disabled="!confirmEmail.buttonActive" @btn-click="handleConfirmEmailBtn">[(confirmEmail.buttonText)]</button-rounded>
            </template>
            <template v-if="confirmEmail.stage === 2">
              <h2>Ваш Email <br>подтверждён </h2>
              <button-rounded @btn-click="showPopup = false">Закрыть</button-rounded>
            </template>
          </template>
          <template v-if='editMode == "changeEmail"'>
            <template v-if='changeEmail.stage === 0'>
              <h2>Укажите новый Email</h2>
              <p>На него мы отправим код подтверждения</p>
              <text-input v-model="changeEmail.newEmail" @input="validateNewEmail" :is-valid="changeEmail.newEmailValid" placeholder="Новый Email" :error="changeEmail.error"></text-input>
              <button-rounded :disabled="changeEmail.newEmailValid !== 1" @btn-click="tryNewEmail">Получить код</button-rounded>
            </template>
            <template v-if='changeEmail.stage === 1'>
              <h2>Введите код</h2>
              <p>Мы отправли код подтверждения на Email <strong>[(changeEmail.newEmail)]</strong>
              </p>
              <text-input v-model="changeEmail.code" @input="setChangeEmailButtonStatus" :is-valid="changeEmail.code.length == 0 ? 0 : changeEmail.code.length === 4 ? 1 : -1" placeholder="Код" :error="changeEmail.error"></text-input>
              <button-rounded :disabled="!changeEmail.buttonActive" @btn-click="handleChangeEmailBtn">[(changeEmail.buttonText)]</button-rounded>
            </template>
            <template v-if="changeEmail.stage === 2">
              <h2>Ваш Email <br>успешно изменён </h2>
              <button-rounded @btn-click="showPopup = false">Закрыть</button-rounded>
            </template>
          </template>
          <template v-if='editMode == "phone"'>
            <template v-if='changePhone.stage === 0'>
              <h2>Укажите новый номер</h2>
              <p>На него мы отправим код подтверждения</p>
              <text-input v-model="changePhone.newPhone" @input="validateNewPhone" :is-valid="changePhone.newPhoneValid" placeholder="Телефон" :error="changePhone.error"></text-input>
              <button-rounded :disabled="changePhone.newPhoneValid !== 1" @btn-click="tryNewPhone">Получить код</button-rounded>
            </template>
            <template v-if='changePhone.stage === 1'>
              <h2>Введите код</h2>
              <p>Мы отправли код подтверждения на <strong>[(formatPhone(changePhone.newPhone))]</strong>
              </p>
              <text-input v-model="changePhone.code" @input="setChangePhoneButtonStatus" :is-valid="changePhone.code.length == 0 ? 0 : changePhone.code.length === 4 ? 1 : -1" placeholder="Код" :error="changePhone.error"></text-input>
              <button-rounded :disabled="!changePhone.buttonActive" @btn-click="handleChangePhoneBtn">[(changePhone.buttonText)]</button-rounded>
            </template>
            <template v-if="changePhone.stage === 2">
              <h2>Номер телефона <br>успешно изменен </h2>
              <button-rounded @btn-click="showPopup = false">Закрыть</button-rounded>
            </template>
          </template>
        </universal-popup>
      </div>
    </script>
    <script type="text/html" id="user-orders-template">
      <div id="user-orders-app">
        <div v-if="list.length === 0" class="empty">
          <h2>Заказов нет</h2>
          <p>Чтобы заказать выберите нужные товары из каталога, или воспользуйтесь поиском</p>
          <div class="line">
            <a href="/catalog" class="button-rounded">В каталог</a>
            <a href="/" class="btn btn-red">На главную</a>
          </div>
        </div>
        <template v-else>
          <div class="order-card" v-for="(order, i) in list" :key="order.id">
            <div class="head">
              <div class="toggle" :class="{active: order.opened}" @click="order.opened = !order.opened"></div>
              <div class="number">Заказ № [(order.num)] <a v-if='order.paymentLink' :href="order.paymentLink" class="payment-link">Оплатить</a>
              </div>
              <a v-if='order.paymentLink' :href="order.paymentLink" class="payment-link payment-link-mobile">Оплатить</a>
              <div class="date">[(toDotString(order.createdon))]</div>
              <div class="order-status" :class="{red: order.status == status.red, green: order.status == status.green}">[(statusMap[order.status - 1])]</div>
              <div v-if="order.status < 3" class="action" @click="cancelOrder(i)">Отменить заказ </div>
            </div>
            <div class="short">
              <div class="images" ref="container">
                <template v-for='index in (maxCount > order.products.length ? order.products.length : maxCount - 1)'>
                  <a :href='order.products[index - 1].url' :key='index' class="img" :style="{backgroundImage: `url(${order.products[index - 1].img})`}"></a>
                </template>
                <div v-if="order.products.length > maxCount" class="over" @click="order.opened = !order.opened">+[(order.products.length - maxCount + 1)]</div>
              </div>
              <ul class="total">
                <li class="status">
                  <div class="name">Статус</div>
                  <div class="val">[(statusMap[order.status - 1])]</div>
                </li>
                <li>
                  <div class="name">Товаров</div>
                  <div class="val">[(productCount(i))] шт.</div>
                </li>
                <li>
                  <div class="name">Итоговая стоимость</div>
                  <div class="val">[((+order.cost).toLocaleString())] ₽</div>
                </li>
              </ul>
            </div>
            <div class="shadow"></div>
            <div class="full">
              <div class="burger">
                <span></span>
                <span></span>
              </div>
              <div class="full__top">
                2 товара в заказе
              </div>
              <ul class="list">
                <li v-for="product of order.products" :key="product.name">
                  <div class="img" :style="{backgroundImage: `url(${product.img})`}"></div>
                  <div class="list__content">
                    <div class="info">
                      <a :href="product.url">
                        <h4>[(product.name)]</h4>
                      </a>
                      <div class="options">
                        <div class="option">
                          <div class="name">Арт.</div>
                          <div class="val">[(product.article)]</div>
                        </div>
                        <div class="option">
                          <div class="name">Объём:</div>
                          <div class="val">[(product.volume)]л</div>
                        </div>
                      </div>
                    </div>
                    <ul class="total">
                      <li class="count">
                        <div class="name">Товаров</div>
                        <div class="val">[(product.count)] шт.</div>
                      </li>
                      <li>
                        <div class="name">Стоимость</div>
                        <div class="val">[((product.price * product.count).toLocaleString())] ₽</div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
              <div class="footer">
                <a :href="order.tracking" class="btn btn-tracking">Перейти к отслеживанию</a>
                <ul class="total">
                  <li>
                    <div class="name">Товаров</div>
                    <div class="val">[(productCount(i))] шт.</div>
                  </li>
                  <li>
                    <div class="name">Итоговая стоимость</div>
                    <div class="val">[((+order.cost).toLocaleString())] ₽</div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="bottom">
              <div class="bottom-cancel">Отменить заказ</div>
              <button class="btn bottom-more">Подробнее</button>
            </div>
          </div>
          <universal-popup v-if="showPopup" @close="showPopup = false">
            <template v-if="cancelOrderStage === 1">
              <h2 style="max-width: 220px">Укажите причину отмены заказа</h2>
              <div class="radiogroup">
                <label>
                  <input type="radio" name="reason" value="Выбрал другие товары" v-model="cancelReason">Выбрал другие товары </label>
                <label>
                  <input type="radio" name="reason" value="Передумал покупать" v-model="cancelReason">Передумал покупать </label>
                <label>
                  <input type="radio" name="reason" value="Хочу изменить способ адрес доставки" v-model="cancelReason">Хочу изменить способ адрес доставки </label>
                <label>
                  <input type="radio" name="reason" value="Обработка заказа заняла много времени" v-model="cancelReason">Обработка заказа заняла много времени </label>
                <label>
                  <input type="radio" name="reason" value="another" v-model="cancelReason">Другая причина </label>
              </div>
              <textarea-input v-show="cancelReason == 'another'" placeholder="Укажите причину" v-model="cancelReasonText"></textarea-input>
              <button-rounded :disabled="!cancelReason || cancelReason == 'another' && cancelReasonText.length < 3" @btn-click="performCancelOrder">Отменить заказ </button-rounded>
            </template>
            <template v-if="cancelOrderStage === 2">
              <h2 style="max-width: 250px">Ваш заказ № [(list[orderToCancel].num)] успешно отменен</h2>
              <button-rounded @btn-click="showPopup = false">Закрыть</button-rounded>
            </template>
          </universal-popup>
        </template>
      </div>
    </script>
    <script type="text/html" id="universal-popup-template">
      <div class="popup-container">
        <div class="fade" @click="close"></div>
        <div class="popup-content">
          <div class="close" @click="close"></div>
          <slot></slot>
        </div>
      </div>
    </script>
    <script type="text/html" id="text-input-template">
      <div class="text-input" :class='{error: isValid === -1}'>
        <label :for='id' class="element">
          <input :id='id' :value='value' @input="$emit('input', $event.target.value)" :placeholder='placeholder' type="text" :disabled='disabled'>
          <div class="valid" :class="{ green: isValid === 1, grey: isValid === 0, red: isValid === -1}"></div>
        </label>
        <div v-if='error' class="error">[(error)]</div>
      </div>
    </script>
    <script type="text/html" id="textarea-input-template">
      <div class="textarea-input">
        <textarea :value='value' @input="$emit('input', $event.target.value)" :placeholder='placeholder' :disabled='disabled' maxlength='1000'></textarea>
        <div class="counter">[(value.length === 0 ? 'Максимум 1000 символов': `Осталось ${1000-value.length} символов`)]</div>
      </div>
    </script>
    <script type="text/html" id="checkbox-input-template">
      <div class="checkbox-input">
        <label :for='id' class="element">
          <input :id='id' :checked='value' @input="$emit('input', $event.target.checked)" type="checkbox" :disabled='disabled'>
          <slot></slot>
        </label>
        <div v-if='error' class="error">[(error)]</div>
      </div>
    </script>
    <script type="text/html" id="password-input-template">
      <div class="password-input" :class='{error: isValid === -1}'>
        <label :for='id' class="element">
          <input :id='id' :value='value' @input="$emit('input', $event.target.value)" :placeholder='placeholder' :type="showPass ? 'text':'password'" :disabled='disabled'>
          <div @mousedown='showPass=true' @mouseup='showPass=false' class="show-password" :class='{visible: showPass}'></div>
          <div class="valid" :class="{ green: isValid === 1, grey: isValid === 0, red: isValid === -1}"></div>
        </label>
        <div v-if='error' class="error">[(error)]</div>
      </div>
    </script>
    <script type="text/html" id="button-rounded-template">
      <button class='button-rounded' :disabled='disabled' @click='$emit("btn-click")'>
        <slot></slot>
      </button>
    </script>
    <link rel="stylesheet" type="text/css" href="/assets/libs/vue-datepicker/vue-ctk-date-time-picker.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="/assets/libs/vue-datepicker/vue-ctk-date-time-picker.umd.min.js"></script>
    <script src="/assets/js/vues.js"></script>
    <script src="assets/js/common.js"></script>
  </body>
</html>